include 'categories'
hr
h5.muted
	|Category
	|&nbsp;
	=category.name
	|&nbsp;
	|details
include '../transactions/nested_transactions' exposing transactions url_prefix
.form-actions
	.btn-group.pull-right
		a.btn.btn-primary.new(href='/categories/#{category._id}/transactions/new') New