tr(class=category_selected)
	td.span2
		a.icon-edit(href='#')
		!&nbsp;
		a.details(href='#')=category_name
	td=category_description
	td.span1=category_type
	td.span2
		.text-right=category_balance
	td.span1
		.pull-right
			a.icon-trash.delete(href='#')