include 'categories'
.modal.categories.delete
	.modal-header.alert.alert-error
		h4 Delete
	-if(category.messages)
		ul.unstyled.alert.alert-error
			foreach category.messages as field
				li=field.message
	.modal-body
		strong
			| Are you sure you want to delete category
			| &nbsp;
			=category.name
			| &nbsp;
			and all of its transactions?
	.modal-footer
		.btn-group.pull-right
			button.delete.btn.btn-primary Delete
			button.cancel.btn Cancel