/* CSS declarations go here */
.datepicker {
	z-index: 1999;
}

.modal .modal-header.alert {
  border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
  border-width:0 0 1px 0;
}

.modal-header {
  padding-top: 15px;
  padding-bottom: 14px;
}

td input[type=text] {
	margin-bottom:0px;
	padding: 0 6px;
}