tr(class=plan_category_selected)
	td=plan_category_name
	td.span2		
		input.pull-right.input-small.text-right(type='text' value=plan_category_planned data-plan-category=plan_category._id)
	td.span2
		.text-right=plan_category_actual
	td.span1
		.pull-right