include 'plans'
hr
h5.muted
	!Plan
	!&nbsp;
	=plan.name
	!&nbsp;
	!details
#include '../transactions/nested_transactions' exposing transactions url_prefix
.form-actions
	.btn-group.pull-right
		a.btn.btn-primary.new(href='/plans/#{plan._id}/categories/new') Add category
		a.btn.cancel(href='#') Cancel