table.table.table-striped.table-condensed
	thead
		tr
			th Category
			th.span1
				.text-right Planned
			th.span1
				.text-right Actual
			th.span1
	tbody
		foreach plan_categories as plan_category
			include 'plan_categories_item' exposing plan_category