tr(class=plan_selected)
	td.span2
		a.icon-edit(href='/plans/#{plan._id}/edit')
		!&nbsp;
		a.details(href='#')=plan_name
	td=plan_description
	td.span2
		.text-right=plan_balance
	td.span1
		.pull-right
			a.icon-trash(href='/plans/#{plan._id}/delete')
