tr(class='#{transaction_type_class}')
	td.span2
		a.icon-edit(href='#{url_prefix}/transactions/#{transaction._id}/edit')
		!&nbsp;
		a.accounts.details(href='#')=transaction.transaction_account
	td  
		a.categories.details(href='#')=transaction.transaction_category
	td.span2=transaction_when
	td.span2
		.text-right=transaction_amount
	td.span1
		.pull-right
			a.icon-trash(href='#{url_prefix}/transactions/#{transaction._id}/delete')
