ul.nav.nav-list.well
	li.nav-header Budget planner
	li(class=home_active_class)
		a(href='/home') Home
	li(class=accounts_active_class)
		a(href='/accounts') Accounts
	li(class=categories_active_class)
		a(href='/categories') Categories
	li(class=transactions_active_class)
		a(href='/transactions') Transactions
	li(class=targets_active_class)
		a(href='/targets') Targets
	li(class=plans_active_class)
		a(href='/plans') Plans
