include 'accounts'
hr
h5.muted
	!Account
	!&nbsp;
	=account.name
	!&nbsp;
	!details
h6.muted Transactions
include '../transactions/nested_transactions' exposing transactions url_prefix
.form-actions
	.btn-group.pull-right
		a.btn.btn-primary.new(href='/accounts/#{account._id}/transactions/new') New transaction
		a.btn.cancel(href='#') Cancel