include 'plans'
.modal.plans.delete
	.modal-header.alert.alert-error
		h4 Delete
	-if(plan.messages)
		ul.unstyled.alert.alert-error
			foreach plan.messages as field
				li=field.message
	.modal-body
		strong
			| Are you sure you want to delete plan
			| &nbsp;
			=plan.name
			| ?
	.modal-footer
		.btn-group.pull-right
			button.delete.btn.btn-primary Delete
			button.cancel.btn Cancel