include 'plans'
.modal.plans.edit
	.modal-header
		h4 New
	-if(plan.messages)
		ul.unstyled.alert.alert-error
			foreach plan.messages as field
				li=field.message
	.modal-body
		include 'form' exposing plan
	.modal-footer
		.btn-group.pull-right
			button.save.btn.btn-primary Save
			button.cancel.btn Cancel
	
