include 'targets'
hr
h5.muted
	!Target
	!&nbsp;
	=target.name
	!&nbsp;
	!details
include '../transactions/nested_transactions' exposing transactions url_prefix
.form-actions
	.btn-group.pull-right
		a.btn.btn-primary.new(href='/targets/#{target._id}/transactions/new') New transaction
		a.btn.cancel(href='#') Cancel